@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "General Sans";
  src: url("../assets/fonts/Satoshi-Variable.woff2") format("woff2-variations");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #0a0c10;
}
::-webkit-scrollbar-thumb {
  background: #c5a059;
  border-radius: 10px;
}

body {
  font-family: 'Satoshi', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sticky-active {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  animation: slideDown 0.5s ease-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.swiper-pagination-bullet {
  background: #ffffff !important;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background: #ffffff !important;
  opacity: 1 !important;
}

.benefit-card {
  will-change: transform, opacity;
  backface-visibility: hidden;
}

.runner {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 999px;
  background: #2d9afe;

  offset-path: path(
    "M 100 175 H 250 V 355 H 450 V 95 H 650 V 355 H 850 V 175 H 1050 V 355"
  );
  offset-rotate: 0deg;

  animation: moveOnPath 18s linear infinite;
}

@keyframes moveOnPath {
  0% {
    offset-distance: 0%;
  }
  70% {
    offset-distance: 100%;
  }
  85% {
    offset-distance: 100%;
  }
  85.01% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 0%;
  }
}

.progress-path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: drawPath 18s linear infinite;
}

@keyframes drawPath {
  0% {
    stroke-dashoffset: 1;
  }
  70% {
    stroke-dashoffset: 0;
  }
  85% {
    stroke-dashoffset: 0;
  }
  85.01% {
    stroke-dashoffset: 1;
  }
  100% {
    stroke-dashoffset: 1;
  }
}

@media (max-width: 1024px) {
  .runner {
    offset-path: path(
      "M 80 183 H 225 V 345 H 405 V 110 H 585 V 345 H 765 V 185 H 945 V 345"
    );
    animation: moveOnPath 18s linear infinite;
  }
}
